<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Searchit</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
</head>
<body>
    <div class="container">

        <!--header-->
        <header>
            <div>
                <h1><a href="{{ url_for('home') }}">SEARCH<span style="color: orange;">IT</span>.COM</a></h1>
            </div>
        </header>

        <!--nav-->
        <nav>
            <div class="navContainer">
                <div class="navBox">
                    <a href="#">Discover</a>
                    <a href="#">Search</a>
                    <a href="#">Special</a>
                    <a href="#">Popular</a>
                    <button onclick="random()">Random??</button>
                </div>
            </div>
        </nav>

        <!--main--><!--TO DO-->
        <main>
            <div class="mainName">Search<span style="color: orange;">it</span></div>
            <div class="entryHeader">Search Products. Find the best deals.</div>
            <div class="entryHeader"><i>Find your Product.</i></div>
            <div class="entrySub">
              A place where you can find what you are looking for.
            </div>
            <div class="searchbar">
                <form action="/search" method="post">
                    <input type="text" name="query" placeholder="Search here..." id="searchInput" />
                    <button type="submit">
                        <img src="{{ url_for('static', filename='images/magnifying-glass.png') }}" alt="Search" height="20px">
                    </button>
                </form>
            </div>
            <div class="screenshotBox screenshotBoxInside" style="padding: 165px; margin-top: 80px; width: 950px;">
              <span>Screenshot of the site</span>
            </div>
        </main>

        <!--section--><!--TO DO-->
        <section>
            <div style="padding:1px;"></div>
            <div class="sponseredProductsBox", style="padding: 175px; width: 1300px;">
                <div class="sponseredProductsContents">
                    <span> product 1</span>
                    <span> product 2</span>                        <span> product 3</span>
                    <span> product 4</span>
                </div>
            </div>
            <div class="sponseredProductsBox", style="padding: 20px; width: 1500px;">
                <div class="sponseredProductsContents">
                    <span>product names and information</span>
                </div>
            </div>
            <div class="recommendationTitle">Need some help?</div>
            <div class="recommendationButton">
                <button onclick="recommendation()"> Click this to find what you need</button>
            </div>
        </section>

        <!--footer-->
        <footer>
            <div class="footerContainer">
                <div class="footerColumn">
                    <h3>Company</h3>
                    <ul>
                        <li><a href="#">About us</a></li>
                    </ul>
                </div>
                <div class="footerColumn">
                    <h3>Products</h3>
                    <ul>
                        <li><a href="#">Product Sources</a></li>
                    </ul>
                </div>
                <div class="footerColumn">
                    <h3>Account</h3>
                    <ul> 
                        <li><a href="#">Log In</a></li>
                        <li><a href="#">Register</a></li>
                    </ul>
                </div>
                <div class="footerBottom">
                    <p>©2025 Searchit.com. All rights reserved.</p>
                </div>
            </div>
        </footer>
    </div>

</body>
</html>