/*effects everything*/
html{
    height: 100%;
}

body{
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*sub-sections*/
.container{
    margin-left: auto;
    margin-right: auto;
}

a{
    color: #E0E0E0;
    text-decoration: none;
}

a:hover{
    color: #5A88A9;
    transition: color 0.3s ease;
}

header{
    background-color: #113752;
    height: 80px;
    width: 100%;
    text-align: center;
    margin-top: -8px;
    color: white;
}

nav{
    background-color: #294E68;
    height: 50px;
    text-align: center;
}

main{
    background-color: #3A3A3A;
    color: #E0E0E0;
}

footer{
    background-color: #113752;
    height:250px;
}

/*header*/

.mainMenu{
    color: #355f7e;
    margin-left: -1400px;
    padding-top: 20px;
    font-size: 35px;
    font-stretch: condensed;
}

/*nav*/

.navContainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.navBox{
    height: 50px;
    width: 150px;
    padding-left: 30px;
    padding-right: 30px;
}

.navTextBox{
    padding-top: 12px;
}

.navTextBox button {
    all: unset;
    cursor: pointer;
    color: #E0E0E0;
}

.navTextBox button:hover{
    color: #5A88A9; 
    transition: color 0.3s ease;
}

/*main*/

.mainContainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.mainColumn{
    color: white;
    font-size: 20px;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 250px;
}

.filtersBox{
    border: 2px solid white;
}

/*footer*/

.footerContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footerLogoColumn{
    color: white;
    font-size: 20px;
    padding-top: 80px;
    padding-left: 100px;
    padding-right: 250px;
}

.footerColumn {
    width: 1500px;
    height: 200px;
    padding-left: 100px;
    margin-top: 15px;
}

.footerColumn h3 {
    color: #fff;
    margin-bottom: 15px;
    font-size: 20px;
}

.footerColumn ul {
    list-style: none;
    padding: 0;
}

.footerColumn ul li {
    margin-bottom: 10px;
}

.footerColumn ul li a {
    color: #4aa3df;
    text-decoration: none;
}

.footerColumn ul li a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.footerBottom {
    text-align: center;
    padding-top: 7px;
    color: #aaa;
    font-size: 14px;
}